@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    --fonte-header: "Merienda", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

html, body {
    background-color: #135E1A;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    font-family: var(--fonte-header);
    background-color: #612F00;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
}

nav{
    background-color: #da6b039a;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgba(255, 255, 255, 0.788);
    text-decoration: none;
    font-size: 19px;
}

a:hover{
    font-size: 21px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
    cursor: pointer;
}

main{
    margin: 20px 15px;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0px black;
    margin-bottom: 10px;
    padding: 8px;
}

h4 {
    text-align: center;
    padding: 8px;
    margin-bottom: 15px;
}

section.form-conteiner{
    background-color: #da6b039a;
    padding: 15px;
    width: 250px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 2px 2px 5px black;
}

form{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

div.dados {
    margin: 5px;
    text-align: center;
    padding: 3px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

div.dados > label{
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: px;
}

div.dados > input{
    display: block;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    margin: 5px 0px;
    color: black;
}

.button {
    padding: 5px;
}

div.button > input {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #18b1289a;
    color: black;
    width: 80px;
    cursor: pointer;
    margin-top: 3px;
    padding: 3px;
    border: 2px solid rgba(0, 0, 0, 0.664);
    border-radius: 10px;
}

footer{
    background-color: #612F00;
    padding: 8px;
    text-align: center;
    color: lightgray;
}

