@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    --fonte-header: "Merienda", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: #135E1A;
}

header {
    text-align: center;
    font-family: var(--fonte-header);
    background-color: #612F00;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
}

nav{
    background-color: #da6b039a;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgba(255, 255, 255, 0.788);
    text-decoration: none;
    font-size: 19px;
}

a:hover{
    font-size: 21px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
}

main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px;
    margin-bottom: 25px;
}

.subtitulo{
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
    margin: 10px;
    padding: 3px;
    color: black;
}

section.brasil-conteiner{
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

article.media-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > div.media{
    flex: 1 0 350px;
}

article > div.text {
    flex: 1 1 400px;
}

div.text > p {
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 12px;
    margin-top: 15px;
}

div.media > img{
    display: block;
    margin: auto;
    width: 415px;
    border: 5px solid #612F00;
}

section.produtores-conteiner{
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

section.produtores2-conteiner{
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

article.media-text2{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}


footer{
    background-color: #612F00;
    padding: 8px;
    text-align: center;
    color: lightgray;
}

@media screen and (max-width: 650px) {
    div.media > img{
        width: 325px;
    }
}