@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: #135E1A;
}

header {
    text-align: center;
    background-color: #612F00;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

nav{
    background-color: #da6b039a;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgba(255, 255, 255, 0.788);
    text-decoration: none;
    font-size: 17px;
}

a:hover{
    font-size: 19px;
}

main {
    text-align: center;
    margin: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.brasil{
    margin: 8px;
    display: flex;
    flex-flow: flex wrap;
    align-items: center;
}

.brasil img{
    border: 5px solid #612F00;
}

.brasil h2 {
    margin-top: 20px;
    color: black;
}

.brasil p {
    text-indent: 10px;
}

#mundial{
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.produtores1 {
    margin: 8px;
    display: flex;
    flex-flow: flex wrap;
    align-items: center;
}

#mundial {
    color: black;
}

.produtores1 img{
    border: 5px solid #612F00;
}

.produtores1 p {
    text-indent: 10px;
}

.produtores2 {
    margin: 8px;
    display: flex;
    flex-flow: flex wrap;
    align-items: center;
}

.produtores2 img{
    border: 5px solid #612F00;
}

.produtores2 p {
    text-indent: 10px;
}

.produtores3 {
    margin: 8px;
    display: flex;
    flex-flow: flex wrap;
    align-items: center;
}

.produtores3 img{
    border: 5px solid #612F00;
}

.produtores3 p {
    text-indent: 10px;
}

footer{
    background-color: #612F00;
    padding: 8px;
    text-align: center;
    color: lightgray;
}