* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blueviolet;
}

header{
    text-align: center;
    padding: 20px;
}

section{
    text-align: center;
    padding: 10px;
}

section h2 {
    padding: 15px;
}

section img{
    border: 5px solid black;
    margin-top: 20px;
}