@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    --fonte-header: "Merienda", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

html, body {
    background-color: #135E1A;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: #612F00;
    padding: 10px;
}

header h1 {
    margin: 8px;
    font-family: var(--fonte-header);
    text-shadow: 2px 2px 0px black;
}

nav{
    background-color: #da6b039a;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}

a:hover{
    font-size: 21px;
    text-shadow: 2px 2px 0px black;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    flex: 1;
}

h2 {
    text-align: center;
    text-shadow: 0.5px 0.5px 1px black;
    margin-bottom: 15px;
    color: black;
}

h3 {
    text-shadow: 0.5px 0.5px 1px black;
    margin: 15px;
    color: black;
    text-decoration: underline;
}

p{
    text-indent: 10px;
    margin-bottom: 10px;
}

div.listas {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
}

section.fert-conteiner{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

article > div.text{
    flex: 1 1 300px;
    margin-bottom: 10px;
}

article > div.media{
    flex: 1 0 300px;
}

div.media > img{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    border: 3px solid white;
    box-shadow: 3px 4px 5px black;
}

div.texto > h3 {
    color: black;
    font-size: 22px;
}

div.texto > p {
    text-indent: 18px;
    text-align: justify;
    margin: 5px;
}

footer{
    background-color: #612F00;
    padding: 8px;
    text-align: center;
    color: lightgray;
}

@media screen and (max-width: 650px) {
    div.media > img{
        width: 315px;
    }
}
