@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    --fonte-header: "Merienda", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: #135E1A;
}

header {
    text-align: center;
    background-color: #612F00;
    padding: 10px;
}

header h1 {
    margin: 8px;
    font-family: var(--fonte-header);
    text-shadow: 2px 2px 0px black;
}

nav{
    background-color: #da6b039a;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}

a:hover{
    font-size: 21px;
    text-shadow: 2px 2px 0px black;
}

main {
    margin: 20px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    text-shadow: 0.5px 0.5px 1px black;
    margin: 15px 5px;
    color: black;
}

p{
    text-indent: 10px;
    margin-bottom: 10px;
}
section.plantio1 {
    padding: 15px;
}

div.listas {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

section.conteiner{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

article > div.text{
    flex: 1 1 300px;
    margin-bottom: 10px;
}

article > div.media{
    flex: 1 0 300px;
}

div.text > h3 {
    color: black;
    text-shadow: 1px 0px 1px white;
    text-decoration: underline;
    font-size: 25px;
}

div.text > p {
    text-indent: 15px;
    text-align: justify;
    margin: 5px;
}

div.media > img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

section.prod-conteiner{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

article > div.text-prod{
    flex: 1 1 300px;
    margin-bottom: 10px;
}

article > div.mediac{
    flex: 1 0 300px;
}

div.mediac > img{
    width: 450px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px black;
    border: 5px solid #612F00; 
    margin-top: 30px;
}

footer{
    background-color: #612F00;
    padding: 8px;
    text-align: center;
    color: lightgray;
}

@media screen and (max-width: 650px) {
    div.mediac > img{
        width: 325px;
    }
}